p{ color: crimson;}
h1{ border-style: dashed;}
hr{ border-color: aquamarine;}
#contenido{color: darkgreen;}
#cuerpoPrincipal{ border-style: dotted;}

.titulos{ color: blue; font-size: 30px;}
.saltos{ border-color: blueviolet;}
div[name="EstaEtiqueta"]{ color: brown;}